

.InfosInHoursContainer{
    margin-top: 30px; 
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
}



.infoHoursTitle{
    text-align: center; 
    margin-bottom: 50px;
}